/* Global begin*/ 
body {
    background-color: #fff0dc;
}

/* #page-container to push down footer, padding-bottom = footer height */ 
#page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 3.5rem;
  }
/* Global end */ 

nav .nav-item .current {
    font-weight: bold;
}

.profile-pic {
    max-height: 200px;
    max-width: 200px;
}

/* Footer - inside .container to match navbar */
.footer {
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    text-align: center;
    background-color: #ffc107;
    color: #fff;
}