/* Global */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff0dc;
}

/* #page-container to push down footer, padding-bottom = footer height */ 
#page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 3.5rem;
  } 

/* navbar */ 
nav .navbar-brand {
    padding-left: 24px;
    color: #fff;
}

nav .navbar-nav {
    padding-right: 24px;
}

nav .current {
    font-weight: bold;
}

/* Skills card */ 
.card-body ul {
    margin-left: 40px;
}

/* Selfie */ 
.profile-pic {
    max-height: 200px;
    max-width: 200px;
}

/* Card deck on Portfolio page */ 
.card-img-top {
    height: 225px;
}

/* Footer inside .container to match navbar */
.footer {
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    text-align: center;
    color: #fff;
}

/* Small screens query */ 
@media(max-width: 575px) {
    /* navbar adjustments */ 
    .navbar-brand {
        display: block;
        position: relative;
        padding-right: 24px;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-nav, .nav-item {
        display: inline;
        padding-left: 24px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-link {
        margin: 0 5px;
    }
    
    /* text alignment */ 
    .card-body h2, h5, h6 {
        text-align: center;
    }
    .card-body ul {
        padding-left: 100px;
    }
    .card-body .col {
        text-align: justify;
    }

    /* selfie centered */ 
    .card-body .profile-pic {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* Portfolio responsive images */ 
    .card-img-top {
        object-fit: cover;
    }
}