/* ABOUT ME */ 
/* Card & Selfie spacing */ 
.col .m-2, p, h5, h6 {
    margin-left: 0.5rem;
}
.move-right {
    margin-left: 2rem;
}
.selfie {
    max-height: 12.5rem;
    max-width: 12.5rem;
}
/* Skills card */ 
.card-body ul {
    margin-left: 40px;
}

/* MOBILE */ 
@media(max-width: 575px) {
    /* Card text alignment and spacing */ 
    .move-right {
        margin: auto;
    }
    #skills {
        margin-top: -1.5rem;
    }
    .card-body h2, h5, h6 {
        text-align: center;
    }
    .card-body ul {
        padding-left: 1.25rem;
    }
    .card-body .selfie {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .col-sm-4 {
        padding-bottom: 1.25rem;
    }
}