/* App Styles */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
  
.App {
    background-color: #ececec;
    min-height: 100vh;
    position: relative;
    padding-bottom: 4rem;
}

/* SHOWCASE / HERO */ 
.showcase {
    height: 65vh;
    width: 100%;
    background-image: url(./components/Hero/Metcalf-Media.svg);
    background-size: 743px 272px;
    background-repeat: no-repeat;
    background-position: center;
}

/* MOBILE */ 
@media(max-width: 575px) {
    /* hero */ 
    .showcase {
        height: 50vh;
    }
}