/* GLOBAL */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f8f9fa;
    max-height: 100vh;
    position: relative;
    padding-bottom: 100px;
}

/* 002a46 */ 

/* NAVBAR */ 
.navbar {
    padding-bottom: 10px;
    border-bottom: 1px solid #9fffcb;
}
nav .navbar-brand {
    padding-left: 24px;
    font-weight: 600;
}
/* prevents the tiny 1px expansion of navbar on hover,
    which was driving me crazy. also no cursor change */ 
.navbar-brand:hover {
    margin-bottom: -1px;
    cursor: default;
}
nav .navbar-nav {
    padding-right: 24px;
}
nav .current {
    font-weight: bold;
}
/* nav-links on right hover effects */ 
.navbar-nav a:hover {
    border-bottom: 2px solid #e75a7c;
    font-weight: 700;
}
/* decrease padding so hover border-bottom
    doesn't distort size of navbar */ 
.navbar a:hover {
    padding-bottom: 6px;
}


/* CAROUSEL */
.owl-nav {
    margin-bottom: -50px;
}


/* ALL CARDS */ 
.card {
    border: 1px solid #9fffcb;
}

/* About card */ 
.col .m-2, p {
    margin: 0 10px;
}
.profile-pic {
    max-height: 200px;
    max-width: 200px;
}

/* Skills card */ 
.card-body ul {
    margin-left: 40px;
}

/* Card deck, Portfolio */ 
.card-img-top {
    height: 225px;
}

/* Contact card */ 
.btn-outline-info:hover {
background-color: #e75a7c;
}
/* Thank you card, Contact */
.card-body a {
    color: #262626;
    font-weight: 600;
    text-decoration: none;
}   
.card-body a:hover {
    border-bottom: 2px solid #e75a7c;
}

/* SWIPE INTRUCTIONS, Portfolio, displays when Mobile */ 
.swipe-me {
    margin-top: 40px;
    margin-bottom: -15px;
}


/* FOOTER */
.footer {
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    text-align: center;
    color: #fff;
}


/* MOBILE */ 
@media(max-width: 575px) {
    /* navbar adjustments */ 
    .navbar-brand {
        display: block;
        position: relative;
        padding-right: 24px;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-nav, .nav-item {
        display: inline;
        padding-left: 24px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-link {
        margin: 0 5px;
    }
    
    /* Card text alignment, all pages */ 
    .card-body h2, h5, h6 {
        text-align: center;
    }
    .card-body ul {
        padding-left: 20px;
    }
    .card-body .col {
        text-align: justify;
    }

    /* About selfie */ 
    .card-body .profile-pic {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* About skills & Contact thank you cards */ 
    .col-sm-4 {
        padding-bottom: 20px;
    }

    /* Portfolio responsive images */ 
    .card-img-top {
        object-fit: cover;
    }
}
