/* Hex color that looks cool with current pallette 002a46 */ 

/* GLOBAL */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
body {
    background-color: #ececec;
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
}

/* SHOWCASE / HERO */ 
.showcase {
    height: 65vh;
    width: 100%;
    background-image: url(../images/Metcalf-Media.png);
    background-size: 743px 272px;
    background-repeat: no-repeat;
    background-position: center;
}
.content {
    position: relative;
    top: 70%;
}
.content .title {
    font-size: 2rem;
    color: #17a2b8;
}

.content .text {
    line-height: 1.7;
    color: #17a2b8;
}

/* NAVBAR & HOME-SCROLL LINKS*/ 
.navbar {
    box-shadow: 0 0 7px 3px rgba(23, 162, 184, 0.9);
    position: relative;
    top: 80%;
    font-weight: bold;
}
/* hover effects */ 
.navbar-nav a:hover, .scroll a:hover {
    border-bottom: 2px solid #e75a7c;
}
/* decrease padding so hover border-bottom
    doesn't distort size of navbar */ 
.navbar a:hover {
    padding-bottom: 6px;
}
.scroll {
    font-size: 0.9em;
    opacity: 0.9;
}

/* SECTION BOX-SHADOW */ 
.haze {
    border-bottom: 2px solid rgba(231, 90, 124, 0.4);
}

/* PORTFOLIO */ 
#portfolio {
    margin-top: 130px;
}

/* ALL CARDS */ 
.card {
    border: 2px solid #9fffcb;
}

/* About card */ 
.col .m-2, p {
    margin: 0 10px;
}
.profile-pic {
    max-height: 200px;
    max-width: 200px;
}

/* Skills card */ 
.card-body ul {
    margin-left: 40px;
}

/* CAROUSEL Portfolio*/
.owl-nav {
    margin-bottom: -50px;
}
/* Card deck, Portfolio */ 
.card-img-top {
    height: 225px;
}
.move-left {
    margin-left: 10px;
}
/* Portfolio Nav instructions */ 
#swipe-me {
    padding-top: 25px;
    font-size: 0.8em;
}

/* Contact card */ 
.btn-outline-info:hover {
background-color: #e75a7c;
}

/* .try-again styles dynamically created warning, see storeInfo() */ 
.try-again {
    margin-left: 6px;
    color: #ff0000;
}

/* Thank you card, Contact */
.card-body a {
    color: #262626;
    font-weight: 600;
    text-decoration: none;
}
.card-body a:hover {
    border-bottom: 2px solid #e75a7c;
}

/* MODAL */ 
/* trim it up */ 
.modal-dialog {
    max-width: 300px;
    margin: 0 auto;
}
/* simplify and center it */ 
.modal-header {
    border-bottom: 0 none;
}
.modal-footer {
    border-top: 0 none;
}
.modal-footer {
    justify-content: center;
}


/* FOOTER */
.footer {
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    text-align: center;
    border-top: 2px solid #9fffcb;
    color: #fff;
}
.footer a:hover {
    border-bottom: 2px solid #e75a7c;
}


/* MOBILE */ 
@media(max-width: 575px) {
    /* hero */ 
    .showcase {
        height: 50vh;
    }
    /* navbar adjustments */ 
    .navbar-nav, .nav-item {
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-link {
        margin: 0 5px;
    }
    
    /* Card text alignment, all pages */ 
    .card-body h2, h5, h6 {
        text-align: center;
    }
    .card-body ul {
        padding-left: 20px;
    }
    .card-body .col {
        text-align: justify;
    }

    /* About selfie */ 
    .card-body .profile-pic {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* About skills & Contact thank you cards */ 
    .col-sm-4 {
        padding-bottom: 20px;
    }

    /* Portfolio responsive images */ 
    .card-img-top {
        object-fit: cover;
    }
}