/* CONTACT */ 
/* Link styles */ 
.card-body a {
    color: #262626;
    font-weight: 600;
    text-decoration: none;
    transition: letter-spacing 400ms;
}
.card-body a:hover, .card-body a:focus {
    outline: none;
    letter-spacing: 0.07rem;
    cursor: pointer;
    border-bottom: 2px solid #e75a7c;
/* decrease margin so hover doesn't distort size of elements */ 
    margin-bottom: -2px;
}

/* UL */ 
/* ul.contactList {
    list-style: none;
} */
.contactList li {
    margin-bottom: 0.5rem;
}

/* MOBILE */ 
@media(max-width: 575px) {
    .col-sm-4 {
        padding-bottom: 20px;
    }
}