/* SHOWCASE / HERO */ 
/* .showcase class is in App.js & App.css */ 
.content {
    position: relative;
    top: 70%;
}
.content .title {
    font-size: 2rem;
    color: #17a2b8;
}
.content .text {
    line-height: 1.7;
    font-size: 1.1rem;
    font-weight: 600;
    color: #17a2b8;
}