/* SHOWCASE / HERO */ 
.showcase {
    height: 65vh;
    width: 100%;
    background-image: url(./Metcalf-Media.svg);
    background-size: 743px 272px;
    background-repeat: no-repeat;
    background-position: center;
}
.content {
    position: relative;
    top: 70%;
}
.content .title {
    font-size: 2rem;
    color: #17a2b8;
}

.content .text {
    line-height: 1.7;
    color: #17a2b8;
}