/* PROJECT CARDS */ 
.card {
    margin: 1.2rem;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover
}


/* MOBILE */ 
@media(max-width: 575px) {
    /* Card text alignment, all sections */ 
    #wrap {
        display: grid;
    }
    .card-body h2, h5, h6 {
        text-align: center;
    }
    .card-body ul {
        padding-left: 1.25rem;
    } 
    .card-img-top {
        width: 100%;
        height: 50vw;
        object-fit: cover
    }
}