/* CONTACT */ 
/* Contact Form */ 
.btn-outline-info:hover {
    background-color: #e75a7c;
}
/* .try-again styles dynamically-created warnings, see storeInfo() */ 
.try-again {
    margin-left: 6px;
    color: #ff0000;
}

/* Link styles */ 
.card-body a {
    color: #262626;
    font-weight: 600;
    text-decoration: none;
    transition: letter-spacing 400ms;
}
.card-body a:hover, .card-body a:focus {
    outline: none;
    letter-spacing: 0.07rem;
    cursor: pointer;
    border-bottom: 2px solid #e75a7c;
/* decrease margin so hover doesn't distort size of elements */ 
    margin-bottom: -2px;
}

/* MODAL - Not real yet */ 
/* trim it up */ 
/* .modal-dialog {
    max-width: 300px;
    margin: 0 auto;
} */
/* simplify and center it */ 
/* .modal-header {
    border-bottom: 0 none;
}
.modal-footer {
    border-top: 0 none;
}
.modal-footer {
    justify-content: center;
} */

/* MOBILE */ 
@media(max-width: 575px) {
    .col-sm-4 {
        padding-bottom: 20px;
    }
}